name: CI/CD Deploy to Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v0.1.8
        with:
          host: ${{ secrets.SERVER_IP }}         # آی‌پی سرور
          username: ${{ secrets.SERVER_USER }}  # نام کاربری سرور
          password: ${{ secrets.WEB }}          # پسورد از secret
          port: 22                               # پورت SSH، معمولاً 22
          script: |
            cd /home/ubuntu/web                  # مسیر پروژه روی سرور
            docker compose down
            docker compose up -d --build
