name: CI/CD Push Workflow

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  push-changes:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Git
      run: |
        git config --global user.name "meysam-farbakhsh"
        git config --global user.email "meysam@farbakhsh.ir"

    - name: Make changes (example)
      run: |
        # اینجا میتونی تغییرات خودتو اعمال کنی
        echo "Updated at $(date)" >> frontend/index.html

    - name: Commit and Push
      run: |
        git add .
        git commit -m "Update from workflow" || echo "No changes to commit"
        git push https://x-access-token:${{ secrets.WEB_TOKEN }}@github.com/meysam-farbakhsh/web.git main
