name: CI/CD Workflow

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Clean merge conflicts & Deploy via SSH
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            # ساخت فولدر پروژه و frontend در صورت عدم وجود
            mkdir -p /root/web
            mkdir -p /root/web/frontend

            # پاک کردن markers merge conflict از فایل‌های اصلی قبل از deploy
            find . -type f -name "Dockerfile" -o -name "docker-compose.yml" | while read file; do
              sed -i '/^<<<<<<<\|^=======\|^>>>>>>> /d' "$file"
            done

            # کپی تمام فایل‌ها از repo روی سرور
            rsync -avz --delete ./ /root/web/

            # ورود به مسیر پروژه
            cd /root/web

            # اجرای Docker Compose
            docker-compose down
            docker-compose up -d --build
