name: CI/CD Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup SSH agent
      uses: webfactory/ssh-agent@v0.9.0
      with:
        # secret name که گفتی "web" هست
        ssh-private-key: ${{ secrets.web }}

    - name: Deploy to server
      uses: appleboy/ssh-action@v0.1.8
      with:
        host: 46.34.165.222      # IP سرور
        username: root           # یوزر SSH
        password: ${{ secrets.web }}  # همون secret
        port: 22
        script: |
          cd /root/web
          docker compose down -v
          docker compose up -d --build
